name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - uses: actions/checkout@v2
      # Setup python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
     - name: Install Tox
        run: pip install tox
      # Build & Test module with Tox
      - name: Run Tox
        run: tox -e py
